<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <p>
        Search:
        <input ng-model="$ctrl.query" />
      </p>

      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="name">Alphabetical</option>
        </select>
      </p>
    <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.back()">Back</button>
    <button type="button" class="btn btn-default btn-sm" ng-csv="$ctrl.countries" filename="countries.csv" field-separator=",">Download CSV</button>
    </div>
    <div class="col-md-10">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Code</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="country in $ctrl.countries | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="country-list-item">
            <td>{{country.code}}</td>
            <td>{{country.name}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
