<div class="container-fluid">
  <div class="row">
    <h3>Welcome</h3>
    <p>Select operation</p>
    <br/>

    <div>
      <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.visualize()">Visualize countries list</button>
    </div>

  </div>
</div>
